.features-container {
  display: flex;
  justify-content: center;
  gap: 30px; /* Augmente l'espace entre les cartes */
  padding: 40px 20px;
  margin-top: 20px; /* Espace entre Hero et cartes */
}

.feature-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feature-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.feature-description {
  font-size: 14px;
  color: #555;
}
