.hero {
  border: 2px solid red; /* Juste pour vérifier */
}

.hero-content {
  position: absolute;
  bottom: 20px; /* Descend le texte un peu */
  width: 100%;
  text-align: center;
  color: #ffffff;
}
